accelerate==0.5.1
torch==1.7.1
datasets==1.17.0
fairlearn==0.7.0
huggingface_hub==0.4.0
matplotlib==3.3.4
nlpaug==1.1.10
nltk==3.7
numpy==1.19.5
pandas==1.3.5
pyarrow==5.0.0
scikit_learn==1.0.2
scipy==1.7.3
setuptools==61.2.0
tqdm==4.62.3
transformers==4.12.2
